.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
    height: 100px;
}

.footer p {
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width:600px) {
    .footer {
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(79, 241, 15);
        color: white;
        height: 100px;
        padding-right: 40px;

    }

    .footer p {
        justify-content: center;
        align-items: center;
    }
}